<div class="md-copyright">
  <div class="md-copyright__highlight">
    <strong>Todos los links oficiales del juego:</strong><br>
    - <a href="https://patreon.com/ToyZombies?utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink" target="_blank" rel="noopener">Patreon</a><br>
    - <a href="https://www.youtube.com/@Toy-Zombies" target="_blank" rel="noopener">YouTube</a><br>
    - <a href="https://discord.gg/9NBSDQ5C" target="_blank" rel="noopener">Discord</a><br>
    Próximamente más...<br><br>
    Toy Zombies © 2026 - Desarrollado por Joelias_N1
  </div>
</div>